* {
  font-family: "Roboto Condensed", sans-serif;
}

.jumbotron {
  text-align: center;
}

.hour {
  text-align: center;
}

.saveBtn {
  background-color: green;
  border-color: white;
}

.saveBtn:hover {
  background-color: lightgreen;
  border-color: lightslategrey;
}

.past {
  background-color: #6c757d;
}

.future {
  background-color: #0d6efd;
}

.now {
  background-color: green;
}

textarea {
  color: white;
}
